doctype html
html(lang='eng')
    include common/head.pug
    +head("head")
    body
        include common/navbar.pug
        +navbar("navbar")
        include common/homep.pug
        +homep("homep")

        

