doctype html
html(lang='eng')
    include common/head.pug
    +head("head")
    body
        include common/navbar.pug
        +navbar("navbar")
        include common/loginform.pug
        +login("login")
